<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Couses</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>


<table id="myTable" class="table table-bordered table-striped">
    <thead class="table-dark">
    <tr>
        <th>Course Name</th>
        <th>Instructor</th>
        <th>Selection</th>

    </tr>
    </thead>

    <tbody>
    <tr th:each="course : ${courses}" >
        <td th:text="${course.title}"/>
        <td th:text="${course.author}"/>


        <td>
            <a th:if="${addCourse} != 'addData'" th:href="@{/college/deleteSubCourse/(courseId=${course.id}, studentId=${stdId})}" class="btn btn-info btn-sm mb-3" >Remove Course</a>
            <a th:if="${addCourse} == 'addData'" th:href="@{/college/addCourse/(courseId=${course.id}, studentId=${stdId})}" class="btn btn-info btn-sm mb-3" >Enroll</a>
            <a th:if="${addCourse} != 'addData'" th:href="@{/college/showSubBooks/(courseId=${course.id}, studentId=${stdId})}" class="btn btn-info btn-sm mb-3">Books</a>

        </td>

    </tr>


    </tbody>

</table>

<a th:href="@{/college/homepage}" class="btn btn-info btn-sm mb-3" >HOME PAGE</a>


</body>
</html>